/* Mixins.scss
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  .clearfix:after {
    clear: both; }

.fixed-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1; }
  .fixed-container:before, .fixed-container:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  .fixed-container:after {
    clear: both; }

article pre {
  font-size: 13px !important; }

.toc {
  background: white;
  margin-left: 20px;
  max-width: 500px;
  padding: 20px;
  padding-right: 30px;
  padding: 2em;
  border: 1px solid #dddddd;
  float: right;
  -webkit-box-shadow: -2px 2px 6px #bbbbbb;
  -moz-box-shadow: -2px 2px 6px #bbbbbb;
  box-shadow: -2px 2px 6px #bbbbbb; }

.container > section {
  margin-top: 60px; }

body.landing {
  background: white; }

strong {
  color: #cb4b16; }

code {
  white-space: pre;
  display: block;
  padding: 10px;
  color: gray; }

.highlight {
  line-height: 25px;
  padding: 3px 4px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8; }

.jumbotron {
  position: relative; }

.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  letter-spacing: -1px;
  line-height: 1; }

.masthead {
  padding-top: 36px;
  margin-bottom: 72px; }
  .masthead h1, .masthead p {
    text-align: center; }
  .masthead h1 {
    margin-bottom: 18px; }
  .masthead p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    line-height: 36px; }

footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5; }

.marketing h2 {
  margin: 36px 0 27px;
  text-align: center; }
