\---
title: Title
layout: default
\---
.headline
  .logo
    %h1 Clojure Monger
    %img{:src => "/assets/images/birdie.png"}/
  .clear{:style => ""}

  %p{:style => ""}
    Monger a modern well maintained Clojure client for MongoDB. It offers support for MongoDB 2.2+ features, has very powerful and expressive query DSL, integrates with libraries like clojure.data.json and JodaTime, makes working with JavaScript map/reduce easier and more.

  %a.btn.btn-primary.btn-large{:href=>"/articles/getting_started.html"} Get Started! »
.row-fluid
  .span4
    %h2 Heading
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    %p
      %a.btn{:href => "#"} View details »
  .span4
    %h2 Heading
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    %p
      %a.btn{:href => "#"} View details »
  .span4
    %h2 Heading
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    %p
      %a.btn{:href => "#"} View details »
