.hero-unit
  %h1 Clojure Monger
  %p
    Monger a modern well maintained Clojure client for MongoDB. It offers support for MongoDB 2.2+
    features, has very powerful and expressive query DSL, integrates with libraries like clojure.data.json and JodaTime,
    makes working with JavaScript map/reduce easier and more.

  %p
    %a.btn.primary.large{ :href => "/guides/getting_started/"}
      Get Started!

.row
  .span6
    %h2
      Links
    %ul
      %li
        %a{ :href => "/"}
          Home page
      %li
        %a{ :href => "https://github.com/michaelklishin/monger"}
          Repository on Github
      %li
        %a{ :href => "http://clojurewekrz.org"}
          Other ClojureWerkz projects


  .span8
    %h2
    %dl
      %dt
        %a{ :href => "/guides/getting_started/"}
          Getting Started
      %dd
        Getting started with the project.

