<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html><head>
  <title>
    Ruby amqp gem:
    {{ page.title }}
  </title>
  <link href='/assets/stylesheets/bootstrap.css' media='screen' rel='stylesheet' type='text/css' />
  <link href='/assets/stylesheets/sass/styles.css' media='screen' rel='stylesheet' type='text/css' />
  <script src='/assets/javascripts/jquery-1.7.min.js' type='text/javascript'></script>
  <script src='/assets/javascripts/codemirror.js'></script>
  <script src='/assets/javascripts/toc.js'></script>
  <script src='/assets/javascripts/code_highlight.js'></script>
  <link href='/assets/stylesheets/codemirror.css' rel='stylesheet' />
  <script src='/assets/javascripts/mode/ruby.js'></script>
  <meta content='text/html;charset=utf-8' http-equiv='Content-Type' />
  <link href='/assets/stylesheets/theme/default.css' rel='stylesheet' />
  <script type='text/javascript'>
    //<![CDATA[
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12314275-7']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    //]]>
  </script>
</head><body><div class='navbar navbar-fixed-top'>
  <div class='navbar-inner'>
    <div class='container'>
      <ul class='nav'>
        <li class='active'>
          <a href='/'>
            Home
          </a>
        </li>
      </ul>
    </div>
  </div>
</div><div class='container'><div class='span10'><section><div class='page-header'>
    <h1>
      {{ page.title }}
    </h1>
  </div>
  <div class='toc'></div>
  {{ content }}
  <h2>Tell me what you think!</h2>
  <p>
    Please take a moment to tell me what you think about my blog
    <a href='http://twitter.com/ifesdjeen'>
      on Twitter
    </a>
    or contact me
    <a href='mailto:oleksandr.petrov@gmail.com'>
      by email
    </a>
  </p>
  {% if page.disqus_identifier %}
  <div id='disqus_thread'></div>
  <script type='text/javascript'>
    //<![CDATA[
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'ifesdjeen'; // required: replace example with your forum shortname
      
      var disqus_developer = 0; // set to 1 on local machine for testing comments
      var disqus_identifier = '{{ page.disqus_identifier }}';
      var disqus_url = '{{ page.disqus_url }}';
      
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    //]]>
  </script>
  {% endif %}</section></div></div></body></html>