!!!
%html<>
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %title
      Monger, a Clojure MongoDB driver:
      = @item[:title]
    %link{ :href => "/assets/stylesheets/sass/styles.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }

  %script{ :src => "/assets/javascripts/jquery-1.7.min.js", :type => "text/javascript" }
  %script{ :src => "/assets/javascripts/codemirror.js"}
  %script{ :src => "/assets/javascripts/toc.js"}
  %script{ :src => "/assets/javascripts/code_highlight.js"}
  %link{ :rel => "stylesheet", :href => "/assets/stylesheets/codemirror.css" }
  %script{ :src => "/assets/javascripts/mode/ruby.js" }
  %link{ :rel => "stylesheet", :href => "/assets/stylesheets/theme/default.css" }

  %body<>
    .topbar
      .topbar-inner
        .container
          %ul.nav
            %li
              %a{ :href => "/"}
                Home
            %li
              %a{ :href => "/guides/getting_started"}
                Getting Started
            %li
              %a{ :href => "/guides/connect"}
                Connecting
            %li
              %a{ :href => "/guides/inserts"}
                Inserting Docs
            %li
              %a{ :href => "/guides/finders"}
                Finders
            %li
              %a{ :href => "/guides/query_dsl"}
                Query DSL
            %li
              %a{ :href => "/guides/updates"}
                Updating Docs
            %li
              %a{ :href => "/guides/deletes"}
                Removing Docs
            %li
              %a{ :href => "/guides/integration"}
                Integration
            %li
              %a{ :href => "/guides/gridfs"}
                GridFS
    %section.content<>
      %article<>

        .toc

        %h1=@item[:title]

        = yield

        %h2 Tell us what you think!
